.gameOne-main-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
}
.image-gameOne-outer{
    display: flex;
    flex-direction: row;
    /* align-items: center;
    justify-content: center; */
}
.image-gameOne-inner{
    border-radius: 12px;
}
.content-gameOne-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    text-align: justify;

    
}